# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Django
*.log
*.pot
*.py[cod]
*.egg-info/
__pycache__/
media/
staticfiles/

# Virtual Environment
env/
venv/
ENV/
.venv/

# IDE and Editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini

# Jupyter Notebook files
.ipynb_checkpoints

# Coverage reports
.coverage
coverage.xml
htmlcov/

# MyPy
.mypy_cache/

# Bandit
.bandit

# Django migrations
*/migrations/*.py
*/migrations/*.pyc
